<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bincom test</title>

</head>
<body>
<h1>
    Search Polling units in Delta State, Local Government
</h1>
<form method="post" action="{{ url_for('polling') }}">
    <label for="lga">Choose a Local Government Area:</label>

    <select name="local" >
        {% for name in lga %}
        <option value="{{ name.lga_name}}">{{ name.lga_name}}</option>
        {% endfor %}
    </select>

    <input type="submit" value="Submit">
</form>
<br>
<h1>
    Check result of all Polling units in a Local Government
</h1>

<form action="{{ url_for('home') }}">
    <label for="lga">Choose a Local Government Area:</label>

    <select name="lga" id="lga">
        {% for name in lga %}
        <option value="{{ name.lga_name}}">{{ name.lga_name}}</option>
        {% endfor %}
    </select>

    <input type="submit" value="Submit">
</form>

</body>
</html>
